<html>
  <head>
    <title>Belinda's blog</title>
  </head>
  <body>
    <div>
      <h1>Belinda's Blog</h1>
    </div>

    <div>
      <p><h2>This is my blog, yay</h2><p>
    </div>

    <div>
      <p>published: 02.07.2014
        <h3><a href="">My first post</a></h3>
        <em>I'm so glad I survived the day</em></p>
    </div>

    <div>
      <p>published: 02.07.2014
      <h3><a href="">My second post</a></h3>
      <em>What will I do next?</em></p>
    </div>

    <div>
      <p>published: 02.07.2014
      <h3><a href="">My third post</a></h3>
      <em>Will I give up my job to become a programmer?</em></p>
    </div>

  </body>
</html>
